/* layout */
kanban { min-height: 100%; }

sidebar,
board {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
sidebar > *,
board > * {
    padding: 0 1em;
}

sidebar header,
board header {
    height: 6rem;
}

sidebar header > *,
board header > * {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

sidebar kanban-header { display: block; }
sidebar header { display: flex; }
sidebar header h1 { flex-grow: 1; margin-bottom: 1rem; }
sidebar header button { margin-top: 1rem; }

sidebar .board-creator input { flex-grow: 1; margin-right: 0.3em; }
sidebar .board-creator { display: none; }
sidebar .board-creator.expanded { display: flex; }
sidebar board-selector { display: none; }
sidebar board-selector.expanded { display: block; }

board board-header { display: block; }
board header { display: flex; }
board header h2 {
    flex-grow: 1;
}

board .column-creator input { flex-grow: 1; margin-right: 0.3em; }
board .column-creator { display: none; }
board.show-menu .column-creator { display: flex; }
board board-operations { display: none; }
board.show-menu board-operations { display: block; }

.column-container { display: block; }
column { display: block; }
column h3 {
    margin-bottom: .5rem;
    font-size: 2.5rem
}
column .no-card-yet,
card {
    display: block;
    padding: .5rem 1rem;
    margin: 0 .2rem .5rem;
    background: #FeFeFe;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}
column .no-card-yet {
    background-color: #FDFAEB;
    border-color: #DED8B9;
    color: #C5B665;
    font-style: italic;
    margin-bottom: 2rem;
}

card:last-child {
    margin-bottom: 2rem;
}
card h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #777;
    margin-bottom: 1rem;
    border-bottom: 1px solid #eee;
}
card p {
    margin-bottom: 1rem;
}

@media only screen and (min-width: 550px) {
    sidebar header h1 { margin-top: 0; }
    sidebar .board-creator { display: flex; }

    board header button { margin-top: 1rem; }
    board .column-creator { display: flex; }
}

@media only screen and (min-width: 750px) {
    kanban { display: flex; }

    sidebar {
        width: 18em;
        min-width: 18em;
    }

    sidebar board-selector { display: block; }
    sidebar button.menu-button { display: none; }

    board {
        width: calc(100% - 18em);
        overflow-x: auto;
    }

    .column-container {
        display: flex;
    }
    column {
        min-width: 30rem;
        max-width: 30rem;
    }
}

@media only screen and (min-width: 960px) {
    sidebar {
        width: 26em;
        min-width: 26em;
    }

    board {
        width: calc(100% - 26em);
    }

    column {
        min-width: 40rem;
        max-width: 40rem;
    }
}
/* look */
input { min-width: 50px; }

/* ellipsing header titles */
board header h2,
column h3,
card h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0;
}

sidebar header svg {
    width: 3.2rem;
    align-self: center;
    margin-right: 0.5rem;
    margin-top: 0;
}
sidebar { background-color: #2D3E50; }
sidebar h1 { color: #F0F8F9; }
body,
board {
    background-color: #F5F0D9;
}
board header {
    color: #444;
}
board column {
    color: #555;
}

board-selector nav a.button.button-primary {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ddd;
    background-color: rgba(48, 86, 103, 0.29);
    border-color: #385669;
}

board-selector nav a.button.button--active {
    background-color: rgba(77, 138, 165, 0.29);
    border-color: #5C92B5;
    box-shadow: #84A1BB 0px 0px 4px;
}
